<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		
		<add key="ProjectTitle" value="Project ABCD" />
		
<!-- The folders must be in the same order as the settop numbers --> 		
		
		<add key="GKAfolder_1" value="C:\JWG\Leeds2\ATS01\Leeds_monitoring\" />
		<add key="GKAfolder_2" value="None" />
		<add key="GKAfolder_3" value="None" />
		<add key="GKAfolder_4" value="None" />
		<add key="GKAfolder_5" value="None" />
		<add key="GKAfolder_6" value="None" />
		<add key="GKAfolder_7" value="None" />
		<add key="GKAfolder_8" value="None" />
		<add key="GKAfolder_9" value="None" />
		<add key="GKAfolder_10" value="None" />
		
		
		<add key="Settop_1" value="m12021247" />
		<add key="Settop_2" value="None" />
		<add key="Settop_3" value="None" />
		<add key="Settop_4" value="None" />
		<add key="Settop_5" value="None" />
		<add key="Settop_6" value="None" />
		<add key="Settop_7" value="None" />
		<add key="Settop_8" value="None" />
		<add key="Settop_9" value="None" />
		<add key="Settop_10" value="None" />
		
		<add key="EmailLogin" value="gna.arbeit@gmail.com" />
		<add key="EmailPassword" value="Julian560709!" />
		<add key="EmailFrom" value="gna.arbeit@gmail.com" />
		<add key="NoDataAlarmRecipients" value="gna.arbeit@gmail.com" />
		<add key="systemStatusRecipients" value="gna.arbeit@gmail.com" />
		
		<add key="NoDataInterval_hrs" value="1" />
		<add key="testEmail" value="No" />
		<add key="SystemStatusEmail" value="16:49" />
		<add key="FrequencyOfDataChecks_minutes" value="10" />
		
		<add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EASendMail" publicKeyToken="88adb80ecd66540b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.7.0.6" newVersion="7.7.0.6" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>